---
interface Props {
    active: string;
}
const {active} = Astro.props;
---
<header>
    <nav>
        <div class="toggle-container">
            <div class="logo-container">
                <a href="/">
                    <img src="/images/full-logo.webp"/>
                    <span>Blessing<span>Software</span></span></a>
            </div>
            <button class="toggle-button">
                <img src="/images/close.png" alt="toggle-button" class="toggle-button"/>
            </button>
        </div>
        <div class="main-menu">
            <ul>
                <li class={active === 'home' ? 'active' : ''}><a href="/">Trang chủ</a></li>
                <li class={active === 'product' ? 'active' : ''}><a href="/product">Sản phẩm</a></li>
                <li class={active === 'info' ? 'active' : ''}><a href="/info">Giới thiệu</a></li>
            </ul>
        </div>
        <div class="sub-menu">
            <ul>
                <li><a href="/">Trang chủ</a></li>
                <li><a href="/product">Sản phẩm</a></li>
                <li><a href="/info">Giới thiệu</a></li>
            </ul>
        </div>
    </nav>
</header>
