---

---
<!doctype html>
<html lang="vi">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="index, follow"/>

    <meta name="google-adsense-account" content="ca-pub-2654786155149859">
    <script
            data-checked-head="true"
            async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2654786155149859"
            crossorigin="anonymous"></script>

    <link rel="icon" type="image/svg+xml" href="/images/logo.webp"/>
    <title>BlessingSoftware - Chia sẻ thủ thuật, Lập trình website, ứng dụng</title>

    <link rel="alternate" hreflang="x-default" href={"https://blessingsoftware.dev"}/>
    <link rel="canonical" href={"https://blessingsoftware.dev"}/>

    <meta name="generator" content={Astro.generator}/>
    <link rel="stylesheet" href="/stylesheet/styles.css">

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7TZTYZGW1V"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-7TZTYZGW1V');
    </script>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2654786155149859"
            crossorigin="anonymous"
            data-checked-head="true"></script>
</head>
<body>
<slot/>
<script is:inline src="/javascript/js.js"></script>
</body>
</html>
